@import url(https://fonts.googleapis.com/css?family=Raleway);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: white;
    height: 100vh;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: visible;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.siteTitle {
    font-family: "Raleway";
    max-width: 50%;
    font-size: 50px;
    text-align: left;
}

h1 {
    font-family: "Raleway";
    font-size: 50px;
    text-align: left;
    padding-left: 25px;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
h2 {
    font-family: "Raleway";
    font-size: 20px;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 30px;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}
h4 {
    font-family: "Raleway";
    font-size: 12px;
    text-align: left;
    padding-left: 25px;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.container {
    margin: 1rem;
    text-align: center;
}

.nav {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    color: white;
    position: sticky;
    top: 0;
    font-family: "Raleway";
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: center;
    padding-left: 2vw;
    z-index: 1;
}

.nav ul {
    text-align: center;
    margin: 0;
    list-style: none;
    gap: 1rem;
    display: flex;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color: white;
}

.nav li {
    transition: 0.1s;
    color: grey;
    font-size: 20px;
    text-decoration: none;
    padding: 24px 10px;
    margin: 0 10px;
}

.nav li:hover {
    font-style: italic;
}


.scrollDown{
    position: relative;
    text-align: center;
    margin-top: 100px;
    align-items: center;
    animation: updown 0.5s infinite alternate;
}

.algoButton{
    font-family: "Raleway";
    color: lightgrey;
    outline: 0;
    background: none;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid white;
    align-items: center;

    z-index: 3;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px 25px;
    height: 48px;
    transition: 0.5s;
}

.algoButton:hover {
    color: white;
    box-shadow: 0 0 26px #ed964a;
}